<!-- Modal -->
<div id="modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="ulNotes">
                        {{#each notesData}}
                            <li data-id={{this.id}}>{{this.text}} <button type="button" class="btn btn-danger btn-sm noteDelete" data-id={{this.id}}>x</button>
                            </li>
                        {{/each}}
                    </ul>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">New Note:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" data-Id={{this.articleId}} class="btn btn-primary noteSave">Save New Note</button>
                </div>
            </div>
        </div>
    </div>
</div>