.jumbotron {
  background-image: url("../img/onion-farm.jpg");
  background-size: cover;
  text-align: center;
}

.jumbotron img {
  width: 25%;
  height: 35%;
}

body {
  background-image: url("../img/background-img.jpg");
  background-repeat: repeat;
}
